html, body, ul, ol, li, h1, 
h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height:50px;
  background-color:#FBF6D9; 
  border-bottom: 1px solid black;
}

header p {
  padding-top: 30px;
  color:black;
}


.top-wrapper {
  background-color:#98AFC7;
  height:670px;
  padding-top: 10px;
  padding-left: 40px;
}

.error-message { 
  margin-left: 200px; 
}

.game-list {
  margin: 70px 0;
}

.BB {
  display: inline-block;
  background-color: #5dca88;
  color:white; 
  font-weight: bold;
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 20px;
  margin-left: 120px;
  border-radius: 4px;
  box-shadow: 0 7px #1a7940;
  opacity: 0.8;
  }

 .BB:hover { 
 	opacity: 1; 
 }

 .BB:active {
 	position: relative;
 	top: 7px;
 	box-shadow: none;
 	opacity: 1;
 }

 @media(max-width: 700px) {
  .error-message {
    margin-left: 80px;
  }
 }
